:80
root * /usr/share/caddy

# Cache headers for Astro assets
handle /_astro/* {
	header Cache-Control "public, immutable, max-age=31536000"
	file_server
}

handle_path /demo-night/gallery* {
	rewrite * /gallery{path}
	reverse_proxy https://demo-night.fly.dev {
		header_down Location /gallery /demo-night/gallery
	}
}
handle_path /demo-night* {
	reverse_proxy https://demo-night.fly.dev
}

handle {
	file_server
	try_files {path} {path}/ =404
}
